@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

/* #753742,#D8BD8A,#D8D78F,#AA5042,#4F3130
*/

*{
  font-family: 'Oswald', sans-serif;
  margin:0;
  color:#bfabb7;
  background-color: #753742;
}

.navbar{
  padding:20px;
  display: flex;
  align-items:center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #D8BD8A;
  transition: transform 1s;
}

.navbar h1{
  color:#d5d368;
}
.navbar .links{
  margin:auto;
}

.navbar a{
  margin-left:16px;
  text-decoration:none;
  padding: 6px;

  
}

.navbar a:hover{
  font-size: larger;
  color: #d2cf26;
}

.content{
  max-width: 600px;
  margin:40px auto;
  padding:20px;
}

.blog-preview{
  padding:10px 16px;
  margin:20px 0;
  border-bottom: 1px solid #D8BD8A;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(215, 76, 76, 0.81);
}

.blog-preview h2{
  font-size: 20px;
  color: #d5d368;
  margin-bottom: 8px;
}

.PostLogo{
  width: 100px;
  height:100px;
}

.delete-button{
  margin-top: 10px;
  transition: transform 0.2s;
}
.delete-button:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: #d5d368;
}